.cell{
  border:1px solid #666;
  width:100px;
  height:100px;
}

.cell:hover{
  background-color: lightgrey;
  cursor:pointer;
}

.disabled{
  cursor:not-allowed;
}
.disabled:hover{
  background-color: grey;
}

.symbol{
  line-height:100px;
  font-weight:bold;
  font-size:32px;

}

.cross{
  line-height:100px;
  font-weight:bold;
  font-size:32px;
}